$mobile: 480px;
$tablet-width: 768px;
$laptop-width: 992px;
$desktop-width: 1200px;
$large-desktop-width: 1440px;

$pale-teal: #96bda7;
$dirt: #94734a;
$beige: #d9cbba;
$dark-teal: #034a52;
$off-white: #efeeed;
$off-white-two: #fcfaf4;
$greyish-brown: #4a4a4a;
$charcoal: #473e34;
$tan-brown: #98826d;
$whitish: #efebe7;
