h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;

margin-bottom: 0;
margin-top: 0;
}

p {

font-family: 'Crimson Text', serif;
}

h1{


  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

}

h2{


  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;


}

h3{


  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 24px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;


}

h4{
  font-family: 'Raleway', 'Helvetica', sans-serif;
  font-size: 22px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;

}

h5{
  font-family: 'Crimson Text', serif;
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;



}

h6{

  font-family: 'Raleway', 'Helvetica', sans-serif;

font-size: 15px;

}





.bluetopborder
{
    border-top: 1px solid #00a8e8;
}
.custom_button
{
    color: blue !important;
    background: blue !important;
}
.hwid-field-group.hwid-gray
{
    color: #333;
    background: #eee;
}
.tinymce_button
{
    font-size: 35px;
    font-weight: bold;
    padding: 15px 30px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    background: #283891;
}
