// $font__main: sans-serif;
// $font__main: proxima-nova, sans-serif;
$font__main: 'Raleway', 'Helvetica', sans-serif;
$font2: 'Source Serif Pro', serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
// $font__pre: goudy-old-style, serif;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;
